.element{
  width: 320px;
  height: 320px;
  float: left;
   border: 2px solid #8B0000;
   border-radius: 500px;
  background-color: #B21B00;
      position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  box-shadow: 0 0 5px 10px #dddddd;
}
.leaf{
  width: 100px;
  padding: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
 
  
}

.stalk{
  width: 20px;
  height: 20px;
  float: left;
   border: 2px solid #003c00;
   border-radius: 500px;
  background-color: green;
  margin:55px;

}

body
{
  background-color: #fcfcfc;
}
.tomato {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  padding: 50px 30px 50px 15%;
/*   border: 2px solid red; */
}


p{
  margin-top: 135px;
  margin-left: 85px;
  font-size: 70px;
  color: white;
  z-index: 1;
  
}
.button {
  border-radius: 100%;
  padding: 5px;
  background-color:  #B21B00;
  color: white;
  margin: 5px;

}
.button:focus {
  outline: black;
}





.resetClock{
  float:left;
  margin: -45px 10px 60px 90px;
  border-radius: 5px;
  
}
.playOrPause{
  float:left;
  margin: -92px 0px 0px 190px;
    height:200px;
    width:200px;
  border-radius:0px;

}

.longbreak{
  float: left;
  
  padding: 20px 0;
  text-align: center;
    margin: -50px 0 10px 10px;
}
.shortbreak{
 
    float: left;
    margin: 1.858736059%;
  padding: 20px 0;
  text-align: center;
 
/*     margin: 0 0 10px 10px; */



}
#breaks{
  margin-left: -50px;
  padding:10px;
  display: flex;
  
}
#controllers{
  margin-top: -70px;
  margin-left: 80px;
}